:root {
	--azul: rgb(24,82,157);
	--verde: rgb(40,173,86);
}

.titulo {
	color: var(--azul);
}

.barratitulo {
    background: linear-gradient(to right,  #28AD56, #18529D, #28AD56); 
    height: 2rem;
    flex-shrink: 0;
	  max-height: 70px;
}

.tabs.is-boxed li.is-active a {
    background-color: rgb(24,82,157);
    color: #fff;
    font-weight: 600;
  }

  .tabs.is-boxed li a {
    color: rgb(24,82,157);
  }

  .tabs.is-boxed li a:hover {
    background-color: rgba(24,82,157, 0.08);
  }

/* Hacer que el encabezado de la tabla sea fijo al hacer scroll */
.table-container {
    max-height: 70vh; /* Altura máxima para que quepa en pantalla */
    overflow-y: auto;
}


.table.tabla-simetrica th {
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  white-space: normal;
  background: var(--azul);
  color:white;
}


.table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background: var(--azul);
    color:white;
    vertical-align: middle;
}

/* Estilo para las etiquetas de responsables */
.tag.is-info.is-light {
    height: auto;
    padding: 0.5em;
    line-height: 1.2;
    text-align: center;
    width: 100%;
}

/* Mejora visual para las celdas con fecha */
.has-background-link-light {
    border: 1px solid #d1e1ff !important;  
}
