.icono-accion {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.icono-accion:hover {
  color: red;
}

.thead-verde th {
  position: sticky;
  top: 55px;
  background-color: rgb(40, 173, 86);
  color: #fff;
  border-color: rgb(40, 173, 86);
}

.fecha-card {
  border-left: 5px solid rgb(24, 82, 157);
}

.fecha-vencida {
  background-color: #f1f1f1;
  color: #6c757d;
  border-left-color: red;
}

.sticky-header {
  background-color: rgb(24, 82, 157) ;
  color: white;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contenido-tabla {
    padding-top: 30px;
}

.contenido-cards {
    padding-top: 60px;
}