.lista-negrita li::marker {
  font-weight: bold;
}

.bg-azul {
  background-color: rgb(24,82,157);
}

.icono-accion {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.icono-accion:hover {
  color: red;
}

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.layout {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Encabezado */
.encabezado {
	flex-shrink: 0;
	max-height: 80px;
}

/* Tabs */
.tabs-fijas {
	flex-shrink: 0;
	padding-bottom: 0;
}

/* Contenido */
.contenido-scroll {
	flex: 1;
	overflow-y: auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; /* CLAVE para permitir scroll */
}