.lista-negrita li::marker {
  font-weight: bold;
}

.bg-azul {
  background-color: rgb(24,82,157);
}

.icono-accion {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.icono-accion:hover {
  color: red;
}