:root {
	--azul: rgb(24,82,157);
	--verde: rgb(40,173,86);
}

.titulo {
	color: var(--azul);
}

.subdireccion {
	border-left: 4px solid var(--azul);
	cursor: pointer;
}

.jefatura-card {
	border-left: 4px solid var(--verde);
}

.telefono {
	color: var(--verde);
	font-weight: 600;
}

.borde-azul { border-left: 4px solid var(--azul); }
.borde-verde { border-left: 4px solid var(--verde); }
.borde-gris { border-left: 4px solid gray; }


.lista-negrita li::marker {
  font-weight: bold;
}

.bg-azul {
  background-color: var(--azul);
}

.icono-accion {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.icono-accion:hover {
  color: red;
}

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.layout {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Encabezado */
.encabezado {
	flex-shrink: 0;
	max-height: 80px;
}

/* Tabs */
.tabs-fijas {
	flex-shrink: 0;
	padding-bottom: 0;
}

/* Contenido */
.contenido-scroll {
	flex: 1;
	overflow-y: auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; /* CLAVE para permitir scroll */
}