.icono-accion {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.icono-accion:hover {
  color: red;
}

.thead-verde th {
  position: sticky;
  top: .4px;
  background-color: rgb(40, 173, 86);
  color: #fff;
}

.fecha-card {
  border-left: 5px solid rgb(40, 173, 86);
}

.fecha-vencida {
  background-color: #f1f1f1;
  color: #6c757d;
  border-left-color: gray;
}

.sticky-header {
  background-color: rgb(24, 82, 157) ;
  color: white;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-scroll {
  max-height: 600px;   
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.division {
  background-color: #fff;
  color: #fff;
}

.lista-negrita li::marker {
  font-weight: bold;
}